/* Add CSS Styling */
.odd {
    background-color: rgba(255, 0, 55, 0.459);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

.odd.cool{
    font-size: 24px;
}

#numbertwo {
    color: hsl(240, 100%, 50%);
    font-size: 36px;
}

#numberfour {
    background-color: #8be898;
    font-size: 24px;
    font-weight: bold;
}